
<h1>Welcome to the Financial Times technical test</h1>

<p>Full details for what to do in this test are in the README.md file in this repo.</p>

<p>You might be looking for one of these URLs:</p>
<ul>
	<li><a href="/jsx">JSX templates</a></li>
	<li><a href="/handlebars">Handlebars templates</a></li>
</ul>
